{erl_opts,  [
    {parse_transform, lager_transform},
    {i, "deps/lager/include"},
    {i, "deps/epgsql_pool/include"}
]}.


{deps, [
    {lager, ".*", 
        {git, "https://github.com/basho/lager.git", {tag, "3.0.1"}}},
    {epgsql_pool, ".*",
        {git, "https://stash.wargaming.net/scm/wgwebc/epgsql_pool.git", {tag, "0.9.4"}}}
]}.

{relx, [{release, {test_app, "0.0.1"},
         [sasl,
          lager,
          epgsql_pool,
          herd,
          test_app]},
        {sys_config, "sys.config"},
        {vm_args, "vm.args"},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]}.
